@using Aptex.Contracts.ViewModels
@model ProductViewModel

@using (Html.BeginForm("AddToBasket", "Products"))
{
    @Html.HiddenFor(m => m.ProductId)

    <div class="card aptex-product-card" style="width: 18rem;">
        <div class="aptex-product-card-img-wrap" style="background-image: url('https://rutinoscorbin.pl/resources/images/layout/vitamin-c-forte-packshot.png');"></div>

        <div class="aptex-product-card-body">
            <h6 class="aptex-product-card-header">@Model.ProductName, @Model.Quantity</h6>
            <p class="text-muted">@Model.Price zł</p>
        </div>
        <button type="submit" class="btn aptex-add-btn">Add to basket</button>
    </div>
}