@model Aptex.Contracts.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Add";
    Layout = "_Layout";
}

@using (Html.BeginForm("Add", "Products"))
{
    <div class="container form-group" style="margin: auto; width: 70%">
        <h3 style="margin-bottom: 20px;">Add product</h3>
        <partial name="_ProductDetails" model="Model" />

        <div class="float-right">
            <button type="button" class="btn btn-light">Cancel</button>
            <button type="submit" class="btn btn-success">Add</button>
        </div>
    </div>
}



