@model Aptex.Contracts.ViewModels.ProductsViewModel
@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

@using (Html.BeginForm("Index", "Home"))
{
    
    <div class="row">
        <div class="col-md-3">
            <h4>Categories</h4>
            @foreach (var categorySelect in Model.Categories)
            {
                <div>
                    <input type="checkbox" value="@categorySelect.Id"
                           @if (categorySelect.Selected)
                           {
                               <text>checked</text>
                           }/> @categorySelect.Name
                </div>
            }
            <button type="submit" class="btn btn-success">Filter</button>
        </div>
        <div class="col-md-9">
            <h4>Products</h4>
            
            <div style="display: flex">

                @foreach (var product in Model.Products)
                {
                    @await Component.InvokeAsync("Product", product)
                }
            </div>
        </div>
    </div>
}


