@model Aptex.Contracts.ViewModels.ProductsViewModel
@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<h1>Products</h1>
@foreach (var product in Model.Products)
{
    <div>
        @await Component.InvokeAsync("Product", product)
    </div>
}

