@model Aptex.Contracts.ViewModels.ProductsViewModel
@{
    ViewBag.Title = "Products";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-3">
        @using (Html.BeginForm("Index", "Products"))
        {
            <h4>Categories</h4>
            @for (int i = 0; i < Model.Categories.Count; i++)
            {
                <div>
                    @Html.HiddenFor(model => model.Categories[i].Id)
                    @Html.HiddenFor(model => model.Categories[i].Name)
                    @Html.CheckBoxFor(model => model.Categories[i].Selected)
                    @Model.Categories[i].Name
                </div>
            }
            <button type="submit" class="btn btn-success float-right">Filter</button>
        }
    </div>
    <div class="col-md-9">
        <h4>Products</h4>
        
        <div style="display: flex; flex-wrap: wrap;">

            @foreach (var product in Model.Products)
            {
                @await Component.InvokeAsync("Product", product)
            }
        </div>
    </div>
</div>



