
@{
    ViewData["Title"] = "Success";
}

<div style="text-align: center; margin: 5%;">
    <div style="font-size: 24px; color: #418457; margin: 5%">
        <i class="fas fa-plus fa-5x"></i>
    </div>
    <h3>Added</h3>
    <p>New product has been successfully added.</p>
    <a class="btn btn-success" asp-area="" asp-controller="Products" asp-action="Index">Continue</a>
</div>
