
@model Aptex.ViewModels.BasketViewModel
@{
    ViewData["Title"] = "Default";
}
<a class="nav-link text-dark" asp-controller="Basket" asp-action="Index">Basket: 
    <span class="badge badge-pill badge-success">@Model.ItemsCount</span>
</a>

