@model Aptex.ViewModels.BasketSummaryViewModel
@{
    ViewData["Title"] = "Basket";
}

    <form>
        <h1>Basket</h1>

        <h3>Items</h3>

        <h3>Customer details</h3>
        <div class="form-group">
            <label for="fullNameInput">Full name</label>
            <input type="text" class="form-control" id="fullNameInput" placeholder="John Woo">

            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" placeholder="abc@@email.com">
        </div>

        <h3>Recipient address</h3>
        <div class="form-group">
            <label for="cityInput">City</label>
            <input type="text" class="form-control" id="cityInput" placeholder="New York">

            <label for="cityCodeInput">Code</label>
            <input type="text" class="form-control" id="cityCodeInput" placeholder="00-000">

            <label for="streetInput">Street</label>
            <input type="text" class="form-control" id="streetInput" placeholder="Legnicka 1/4">
        </div>

        <h3>Order details</h3>
        <button type="button" class="btn btn-light">Cancel</button>
        <button type="button" class="btn btn-success">Order</button>
    </form>


