@model Aptex.Contracts.ViewModels.BasketSummaryViewModel
@{
    ViewData["Title"] = "Basket";
}


<h1>Basket</h1>

<h3>Items</h3>
<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th class="text-right">Remove</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products.OrderBy(prod => prod.ProductName).ThenBy(prod => prod.Price))
    {
        @using (Html.BeginForm("RemoveItem", "Basket", new { productId = product.ProductId }))
        {
            <tr>
                <td>#</td>
                <td>@product.ProductName</td>
                <td>@product.Quantity</td>
                <td>@product.Price</td>
                <td class="text-right"><button type="submit" class="btn btn-light"><i class="fas fa-trash-alt"></i></button></td>
            </tr>
        }
    }
    </tbody>
</table>

<div class="row">
    <div class="col">
        <h3>Customer details</h3>
        <div class="form-group">
            <label for="fullNameInput">Full name</label>
            <input type="text" class="form-control" id="fullNameInput" placeholder="John Woo">

            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" placeholder="abc@@email.com">
        </div>

        <h3>Recipient address</h3>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="cityInput">City</label>
                    <input type="text" class="form-control" id="cityInput" placeholder="New York">
                </div>
                <div class="col">
                    <label for="cityCodeInput">Code</label>
                    <input type="text" class="form-control" id="cityCodeInput" placeholder="00-000">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="streetInput">Street</label>
                    <input type="text" class="form-control" id="streetInput" placeholder="Legnicka 1/4">
                </div>
            </div>
        </div>
    </div>
    

    <div class="col">
        <h3>Order details</h3>
        <div class="float-right">
            <h4>Price: @Model.TotalPrice zł</h4>
            @using (Html.BeginForm("Index", "Basket", FormMethod.Post, new { @class = "float-right" }))
            {
                <button type="button" class="btn btn-light">Cancel</button>
                <button type="submit" class="btn btn-success">Order</button>
            }
        </div>
    </div>
</div>


