
@{
    ViewData["Title"] = "Success";
}

<h3>Thank you!</h3>
<h5>Your order has been registered. Any updates related to status will be shared over email.</h5>
<a class="btn btn-success" asp-area="" asp-controller="Products" asp-action="Index">Continue</a>
